<div class="companyAddress-grid" [formGroup]="address">
    <div class="street">
        <input class="col mr-4" type="text" formControlName="street" placeholder="Street">
    </div>
    <div class="streetNumber">
        <input class="col mr-4" type="text" formControlName="streetNumber" placeholder="Number">
    </div>
    <div class="zipCode">
        <input class="col mr-4" type="text" formControlName="zipCode" placeholder="PSČ">
    </div>
    <div class="city">
        <input class="col mr-4" type="text" formControlName="city" placeholder="City">
    </div>
</div>
