<div>
    <div class="text-right">
        <button type="button" class="btn btn-outline-danger col-1" (click)="close()">&times;</button>
    </div>
    <div class="text m-3">
        <h4>Edit todo</h4>
    </div>
    <div class="text m-3">
        <form [formGroup]="todoForm" (ngSubmit)="save()">
            <div class="d-flex justify-content-between">
                Name: <input class="col mr-4" type="text" formControlName="name">
                Description: <input class="col mr-4" type="text" formControlName="description">
            </div>
            <div class="text-right m-3 d-flex justify-content-between">
                <button type="button" class="btn btn-outline-danger col-2" (click)="close()">Close</button>
                <button type="submit" class="btn btn-outline-success col-2">Save</button>
            </div>
        </form>
    </div>
</div>
