.companyDetails-grid {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  grid-template-areas:
    "companyName"
    "businessId";
}

.companyAddress-grid {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  margin-top: 15px;
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  grid-template-areas:
    "street streetNumber"
    "zipCode city";
}

.companyName {
  grid-area: companyName;
  font-weight: bold;
}

.businessId {
  grid-area: businessId;
}

.street {
  grid-area: street;
}

.streetNumber {
  grid-area: streetNumber;
}

.zipCode {
  grid-area: zipCode;
}

.city {
  grid-area: city;
}

.btn-group-vertical {
  width: 200px;
  height: 100px;
  margin-right: 10px;
}

.companyDetails {
  flex-grow: 1;
}

.companyBankAccounts {
  flex-grow: 1;
}

.companyContainer {
  display: flex;
}

.companyPrimaryAccount-grid {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  grid-template-areas:
    "bankAccountName"
    "bankAccountIBAN";
}

.companySecondaryAccount-grid {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  margin-top: 30px;
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  grid-template-areas:
    "bankAccountName"
    "bankAccountIBAN";
}

.button-back-save {
  margin-left: auto;
  margin-right: 0;
  display: flex;
  justify-content: flex-end;
  //   float: right;
}

#back {
  margin-right: 10px;
}
