<div class="container border rounded p-4 my-4 bg-light">
    <ng-container *ngIf="(isLoggedUser$ | async) as isLoggedUser; else loginButton">

        <ng-container *ngTemplateOutlet="logoutHeader"></ng-container>
        <ng-container *ngTemplateOutlet="appHeader"></ng-container>

        <div class="row justify-content-center no-gutters px-0 py-4">
            <div class="btn-group col-6"
                 role="group">
                <button type="button"
                        class="btn btn-outline-primary col"
                        [routerLink]="['/todo']"
                        routerLinkActive="active"
                        i18n="@@app-component-todo-list-menu"
                        data-test="app-component-todo-list-menu">
                    Todo list
                </button>

                <button type="button"
                        class="btn btn-outline-primary col"
                        [routerLink]="['/users']"
                        routerLinkActive="active"
                        placement="top"
                        [ngbPopover]="authService.isAdmin ? 'You are Admin' : 'You are not Admin'"
                        #popover="ngbPopover"
                        (mouseenter)="popover.open()"
                        (mouseleave)="popover.close()"
                        i18n="@@app-component-todo-users-management-menu"
                        data-test="app-component-todo-users-management-menu">
                    Users management
                </button>

                <button type="button" class="btn btn-outline-primary col" [routerLink]="['/company/list']"
                    i18n="@@app-component-todo-list-menu"
                    [ngClass]="{'active':router.url.includes('company')}">
                    Companies
                </button>

            </div>

        </div>
    </ng-container>
    <router-outlet>
    </router-outlet>
</div>

<ng-template #appHeader>
    <h1 class="text-center" i18n="@@app-component-header-name">
        KROS Todo list
    </h1>
</ng-template>

<ng-template #loginButton>
    <ng-container *ngTemplateOutlet="appHeader"></ng-container>

    <div class="row d-flex justify-content-center px-4 py-4">
        <button class="btn btn-outline-primary"
                (click)="login('todo')"
                i18n="@@app-component-login-button"
                data-test="app-component-login-button">
            Login
        </button>
    </div>
</ng-template>

<ng-template #logoutHeader>
    <div class="d-flex justify-content-between">
        <div class="badge badge-pill badge-success"
             [@animationKros]='state'
             (click)="animateMe()">
            <div data-test="app-component-user-name">
                {{ (loggedUser$ | async).name }}
            </div>
            <div data-test="app-component-user-email">
                {{ (loggedUser$ | async).email }}
            </div>
            <div *ngIf="(currentCompany$ | async) != null">
                {{ (currentCompany$ | async).companyName }}
            </div>
        </div>
        <button class="btn btn-outline-danger"
                (click)="logout()"
                i18n="@@app-component-logout-button"
                data-test="app-component-logout-button">
            Logout
        </button>
    </div>
</ng-template>
