<div class="container border rounded p-4 my-4 bg-light">
    <h1 class="text-center">
        KROS Todo list Test
    </h1>

    <div *ngIf="!(isLoggedUser$ | async)" class="row px-4 py-4">
        <button class="btn btn-outline-primary col-2" (click)="login('todo')">
            Login
        </button>
    </div>

    <div>
        <div *ngIf="(isLoggedUser$ | async)" class="row justify-content-between no-gutters px-0 py-4">
            <div class="btn-group col-6" role="group">
                <button type="button" class="btn btn-outline-primary col" [routerLink]="['/todo']"
                    routerLinkActive="active">
                    Todo list
                </button>

                <button type="button" class="btn btn-outline-primary col" [routerLink]="['/users']"
                    routerLinkActive="active" placement="top"
                    [ngbPopover]="authService.isAdmin ? 'You are Admin' : 'You are not Admin'" #popover="ngbPopover"
                    (mouseenter)="popover.open()" (mouseleave)="popover.close()">
                    Users management
                </button>

            </div>
            <div class="badge badge-pill badge-success" [@animationKros]='state' (click)="animateMe()">
                <div>
                    {{ (loggedUser$ | async).name }}
                </div>
                <div>
                    {{ (loggedUser$ | async).email }}
                </div>
            </div>
            <button class="btn btn-outline-danger col-2" (click)="logout()">
                Logout
            </button>
        </div>
    </div>
    <ngb-progressbar class="mt-4" type="secondary" [striped]="true" [animated]="true" [value]="100"
        [ngClass]="{'hidden': !(actionInProgress$ | async)}">
    </ngb-progressbar>
    <router-outlet>
    </router-outlet>
</div>

