<div class="row px-2 align-items-center" (dblclick)="openModal(item.id)" >

    <label class="btn-outline-success col-1 ml-2 mr-4 mb-0 font-weight-bold" ngbButtonLabel>
        <input type="checkbox"
            style="display: none"
            [formControl]="done"
            ngbButton
            [disabled]="disabled">
        {{ done.value ? "✓" : "&nbsp;" }}
    </label>

    <!-- <input class="col-1"
        type="checkbox"
        [disabled]="disabled"> -->

    <div class="col-1" [ngClass]="{ 'text-black-50': disabled }">
        {{item.id}}
    </div>

    <div class="col" [ngClass]="{ 'text-black-50': disabled }">
        {{item.name}}
    </div>

    <div class="col-3" [ngClass]="{ 'text-black-50': disabled }">
        {{item.created}}
    </div>

    <div class="col-1 text-right">
        <button class="btn btn-outline-danger"
            (click)="deleteTodo(item.id)"
            [disabled]="disabled">
            X
        </button>
    </div>

</div>
