<div [ngClass]="{ 'text-black-50': disabled }"
    i18n="Add todo item component|Caption above inputs@@add-todo-item-inputs-caption">
    What needs to be done?
</div>

<form [formGroup]="todoForm" (ngSubmit)="addTodo()" class="d-flex justify-content-between">
    <input class="col mr-4" type="text" formControlName="name">

    <input class="col mr-4" type="text" formControlName="description">

    <button class="btn btn-outline-success col-2" type="submit" [disabled]="disabled"
        i18n="Add todo item component|Add button caption@@add-todo-item-button-label">
        Add
    </button>
</form>
