<div [ngClass]="{ 'text-black-50': disabled }"
    i18n="@@add-todo-item-inputs-caption">
    What needs to be done?
</div>
<div class="col" [ngStyle]="{'visibility': (progress$ | async) ? 'visible' : 'hidden'}">
    <ngb-progressbar class="mt-4" type="secondary" [striped]="true" [animated]="true" [value]="100">
    </ngb-progressbar>
</div>
<form [ngStyle]="{'visibility': !(progress$ | async) ? 'visible' : 'hidden'}" [formGroup]="todoForm"
    (ngSubmit)="addTodo()" class="d-flex justify-content-between">
    <input class="col mr-4" type="text" formControlName="name">

    <input class="col mr-4" type="text" formControlName="description">

    <button class="btn btn-outline-success col-2" type="submit" [disabled]="!todoForm.valid"
        i18n="@@add-todo-item-button">
        Add
    </button>
</form>
