<div class="companyDetails-grid" [formGroup]="companyIdentification">
    <div class="organizationName">
        <input class="col mr-4" type="text" formControlName="organizationName" placeholder="Company Name">
        <div *ngIf="companyIdentification.get('organizationName').invalid &&
        (companyIdentification.get('organizationName').dirty || companyIdentification.get('organizationName').touched)"
            class="alert alert-danger">
            Company name is required
        </div>
    </div>
    <div class="businessId">
        <input class="col mr-4" type="text" formControlName="businessId" placeholder="IČO">
        <div *ngIf="companyIdentification.get('businessId').invalid &&
        (companyIdentification.get('businessId').dirty || companyIdentification.get('businessId').touched)"
            class="alert alert-danger">
            ICO is required
        </div>
    </div>
</div>
